:root {
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #222;
    --text-color: #222;
    --font-family: 'Roboto Mono', monospace; /* Default font */
}

[data-theme='dark'] {
    --background-color: #000;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #333;
    --text-color: #fff;
    --font-family: 'Roboto Mono', monospace; /* Font for dark mode */
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--font-family) ;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, p {
    color: var(--text-color);
    font-family: var(--font-family) !important;  /* Apply font to all text with !important */
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
}

.sectionTitle {
    margin-bottom: 30px;
}
